@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --default-font-family: "DM Sans", sans-serif;
  --font-Bricolage: "Bricolage Grotesque", sans-serif;
}
:root {
  --radius: 0.5rem;
  --background: hsl(243, 96%, 9%);
  --primary: hsl(233, 67%, 56%);
  --primary-foreground: hsl(243, 96%, 9%);
  --secondary: hsl(243, 23%, 24%);
  --secondary-foreground: hsl(243, 27%, 20%);
  --accent: hsl(243, 23%, 30%);
  --muted: hsl(240, 6%, 70%);
  --muted-foreground: hsl(250, 6%, 84%);
}

.scroll-color {
  --sb-track-color: hsl(243, 23%, 30%);
  --sb-thumb-color: hsl(233, 67%, 56%);
  --sb-size: 8px;
}

.scroll-color::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-color::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 45px;
}

.scroll-color::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 45px;
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-color {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
